<div class="container__about m-5">
  <!-- <div class="about__title">About Me</div> -->
  <!-- <div class="about__title--sub">Main Informations About Me And What I Love To Do</div> -->
  <div class="d-flex justify-content-between flex-wrap w-100">
    <div>
        <h3><strong>About</strong></h3>
        <p>My name is Đoàn Trần Phi Khánh</p>
        <p>I'm a third year student at the Nông Lâm University</p>
        <p><strong>Short-term goal:</strong> Back-end developer or Front-end developer</p>
        <p><strong>Long-term goal:</strong> Fullstack developer</p>
        <p class="d-flex flex-wrap" style="white-space: pre-line"><strong style="margin-right:2px">Email:</strong>khanhdoan.kd@gmail.com</p>
    </div>
    <div>
          <h3><strong>Strengths</strong></h3>
          <p><i class="fa-solid fa-check"></i>Ability to read English documents</p>
          <p><i class="fa-solid fa-check"></i>Endure pressure, high patience</p>
          <p><i class="fa-solid fa-check"></i>Willing adapt to team work environment</p>
          <p><i class="fa-solid fa-check"></i>Being easy to get along with</p>
    </div>
        <div>
          <h3><strong>Weaknesses</strong></h3>
          <p><i class="fa-solid fa-check"></i>Communication english is not fluent</p>
          <p><i class="fa-solid fa-check"></i>No internship experience yet</p>
          <p><i class="fa-solid fa-check"></i>Not excellent in terms of ui ux</p>
      </div>
  </div>


</div>
