<div class="container__background">
  <div class="background p-5 position-relative" id="home" style="background-image: url('assets/image/bg.jpg')">
      <div
          class="position-absolute container__intro w-50 h-100 d-flex flex-column justify-content-center px-5">
          <div class="intro--light">
              Hi there
          </div>
          <div class="intro--bold">I am {{introTextMain}} </div>
          <div class="intro--light intro--spacing text-dark">
              I am a fourth year student at Ho Chi Minh City University of Agriculture and Forestry
          </div>
      </div>
  </div>
</div>
