
                <div class="container__skill-tech mx-5 d-flex flex-wrap" id="skill">
                  <div class="container__skill">
                      <div class="skill__title">Skill</div>
                      <div class="skill">
                          <div class="skill__name">HTML</div>
                          <!-- <app-progress [progress]="50" [backgroundColor]="'var(--blue)'" [skill]="'fa-brands fa-html5'" [color]="'var(--blue)'"></app-progress> -->
                      </div>
                      <div class="skill">
                          <div class="skill__name">CSS</div>
                          <!-- <app-progress [progress]="40" [backgroundColor]="'var(--orange)'" [skill]="'fa-brands fa-css3'" [color]="'var(--orange)'"></app-progress> -->
                      </div>
                      <div class="skill">
                          <div class="skill__name">JS</div>
                          <!-- <app-progress [progress]="30" [backgroundColor]="'var(--yellow)'" [skill]="'fa-brands fa-js'" [color]="'var(--yellow)'"></app-progress> -->
                      </div>
                      <div class="skill">
                          <div class="skill__name">Java</div>
                          <!-- <app-progress [progress]="60" [backgroundColor]="'var(--light-orange)'" [skill]="'fa-brands fa-java'" [color]="'var(--light-orange)'"></app-progress> -->
                      </div>
                      <div class="skill">
                          <div class="skill__name">C#</div>
                          <!-- <app-progress [progress]="50" [backgroundColor]="'var(--light-blue)'" [skill]="'fa-solid fa-c'" [color]="'var(--light-blue)'"></app-progress> -->
                      </div>
                  </div>

                  <div class="container-tech">
                      <div class="skill__title mx-5">Technology</div>
                      <ul class="tect__ul my-3 mx-3">
                          <li class="tech__container">Bootstrap</li>
                          <li class="tech__container">JQuery</li>
                          <li class="tech__container">JDBC</li>
                          <li class="tech__container">JSP</li>
                          <li class="tech__container">Servlet</li>
                          <li class="tech__container">ASP MVC</li>
                          <li class="tech__container">Entity framework</li>
                          <li class="tech__container">LINQ</li>
                          <li class="tech__container">SQL Server</li>
                          <li class="tech__container">MySql</li>
                          <li class="tech__container">Angular</li>
                      </ul>
                  </div>
              </div>
