
.project {
  margin: 10px 0;
  padding: 5px 0;
  background-color: rgb(245, 245, 227);
  max-width: 300px;
  width: 100%;
  border-radius: 10%;
  cursor: pointer;
  text-align: left;
}

.project__title {
  font-size: 20px;
  font-weight: bold;
  width: 100%;
  text-align: center;
  padding-top: 20px;
  color: rgb(54, 47, 47);
  text-transform: uppercase;
}

.project__detail__intro {
  height: 110px;
}
.project__detail__tech {
  width: fit-content;
  padding: 2px 10px;
}

/* .project__detail__tech:hover {
  background-color: var(--white-git);
} */

.logo__img {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
  height: 100px;
  width: 100%;
}

.logo__img img {
  max-width: 100%;
  width: 45px;
  margin: 5px;
}
